* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url('Imagenes/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el contenedor del menú */
#menu-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px;
    width: auto;
}

.menu-sections {
    display: flex;
    width: 100%;
}

.menu-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu-section a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin: 120px 0 20px;
    gap: 20px; /* Espacio entre tarjetas */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f9f9f9; /* Cambia este valor según tus necesidades */
    margin: 0 15px; /* Espacio lateral entre tarjetas */
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 10px;
    font-size: 24px;
    color: #333; /* Cambia el color del título */
}

.product-card p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #666; /* Cambia el color del texto */
}

.product-card .price {
    font-size: 20px;
    color: #e74c3c; /* Cambia el color del precio */
    font-weight: bold;
}

/* Estilo para el pie de página */
#footer {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section {
    text-align: center;
    margin-bottom: 10px;
}

.footer-logo img {
    max-width: 65%;
    height: auto;
}

.footer-address p {
    font-size: 14px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
}
